.Settings {
  .row {
    display: grid;
    row-gap: 0.5rem;
    column-gap: 1rem;
    grid-template-columns: 1fr min-content;
    grid-template-areas: "a b" "c b" "d d" "e e";
    align-items: center;
    margin-top: 1rem;
    
    h3 {
      grid-area: a;
      margin: 0;
    }
    .Switch {
      grid-area: b;
    }
    p {
      grid-area: c;
    }
    .Pin {
      grid-area: d;
    }
    .ConfirmationPin {
      grid-area: e;
      margin-top: 1rem;
    }
  }

  .actions {
    margin-top: 2rem;
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
