.Settings {
  h2 {
    margin-bottom: 2rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  li.gluey {
    padding: 1rem;
  }

  .message {
    color: var(--color-4);
    margin-bottom: 2rem;
  }

  .actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
