.Settings {
  h2 {
    margin-bottom: 1rem;
  }

  .settingsMessage {
    color: var(--color-4);
    margin-bottom: 2rem;
  }

  .actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
  }
}
