.Login {
  align-content: start;
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  padding-top: 10rem;

  img {
    width: 10rem;
    margin-bottom: 2rem;
  }
  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .container {
    max-width: 70%;
  }

  button.gluey {
    padding: 1.5rem;
    text-align: center;
  }
}