.Login {
  align-content: start;
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  padding-top: 10rem;

  h2 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .container {
    max-width: 70%;
  }

  .BiometricAuth {
    margin-bottom: 2rem;
  }
}