.GetStarted {
  align-content: start;
  align-items: center;
  display: grid;
  grid-auto-flow: row;
  margin: 0 1rem;
  padding-top: 3rem;

  .Logo {
    margin: 0 auto 2rem auto;
  }

  h1 {
    margin-bottom: 2rem;
  }

  ul {
    margin-bottom: 2rem;
  }

  li {
    padding: 1rem;
  }

  .message {
    color: var(--color-4);
    margin-bottom: 2rem;
  }
  .saveSettings {
    justify-self: end;
  }
}