.AddSecret {
  --scroll-area: calc(100vh - 10.3rem);

  background-color: var(--bg-1);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-areas:
    "add-secret-header"
    "add-secret-data"
    "add-secret-footer";
  max-width: 35rem;
  min-width: 23rem;
  row-gap: 1rem;
  width: 100vw;

  header {
    align-items: center;
    column-gap: 1rem;
    display: grid;
    grid-area: add-secret-header;
    grid-template-columns: 1fr min-content;
    padding: 1rem 1rem 0 1rem;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  footer {
    display: grid;
    grid-area: add-secret-footer;
    grid-auto-flow: column;
    justify-content: space-between;
    padding: 1rem;
  }

  .edit,
  .view {
    display: grid;
    max-height: var(--scroll-area);
    overflow: auto;
    padding: 0 1rem;
    row-gap: 1rem;
  }

  .view {
    align-items: center;
    grid-template-columns: 1fr;

    .actions {
      align-items: center;
      align-self: stretch;
      column-gap: 1rem;
      display: grid;
      grid-auto-flow: column;
      padding-top: 1.4rem;
    }
  }

  .view-line {
    border-top: var(--border-width) solid var(--bg-2);
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
    padding-top: 1rem;
  }

  .custom-field-line {
    align-items: center;
    column-gap: 0.5rem;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto;
  }

  .remove-custom-field {
    color: var(--color-4);
    margin-top: 1rem;
  }


  .btn-cancel,
  .btn-edit,
  .btn-remove,
  .btn-submit {
    font-weight: bold;
    padding: 0.75rem;
  }

  .input-name,
  .input-secret {
    span.label {
      display: inline-block;
      font-size: small;
      margin-bottom: 0.25rem;
      width: 100%;
    }

    span.value {
      border: 0.07rem solid transparent;
      display: inline-block;
      line-height: 1.2;
      padding: 1rem;
      width: 100%;
    }
  }

  .btn-starred {
    justify-self: left;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;

    .Icon {
      margin-right: 0.25rem;
    }
  }

  .btn-remove:hover {
    color: var(--color-4)
  }
}

.CustomFieldForm {
  border: var(--border-width) dashed #ffffff7a;
  border-radius: var(--border-radius);
  display: grid;
  gap: 1rem;
  grid-template-areas: "l1" "l2";
  margin-top: 1rem;
  padding: 0.75rem 1rem 1rem 1rem;

  >.label {
    font-size: small;
  }

  .custom-input {
    grid-area: l1;
  }

  .custom-checkbox {
    grid-area: l2;
  }

  button {
    align-self: center;
    grid-area: l2;
    justify-self: right;
  }
}

@media screen and (min-width: 30rem) {
  .CustomFieldForm {
    grid-template-areas: "c1 c2 c3";

    .custom-input {
      grid-area: c1;
    }

    .custom-checkbox {
      grid-area: c2;
    }

    button {
      grid-area: c3;
    }
  }
}