.AddSecret {
  background-color: var(--bg-1);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-areas:
    "label label"
    "name name"
    "secret secret"
    "add-favorite add-favorite"
    "remove-secret add-secret";
  min-width: 13rem;
  padding: 2rem;
  row-gap: 1rem;

  .label {
    grid-area: label;
  }

  .input-name {
    grid-area: name;
  }

  .input-secret {
    grid-area: secret;
  }

  .add-favorite {
    grid-area: add-favorite;
    justify-self: left;
  }

  .remove-secret {
    color: var(--color-4);
    font-weight: bold;
    grid-area: remove-secret;
    justify-self: left;
    padding: 0.75rem;
  }

  .add-secret {
    font-weight: bold;
    grid-area: add-secret;
    justify-self: right;
    padding: 0.75rem;
  }
}
