.AddSecret {
  background-color: var(--bg-1);
  border-radius: var(--border-radius);
  display: grid;
  grid-template-areas:
    "add-secret-header"
    "add-secret-data"
    "add-secret-footer";
  max-width: 35rem;
  padding: 2rem;
  row-gap: 1rem;
  width: 100vw;

  header {
    align-items: center;
    column-gap: 1rem;
    display: grid;
    grid-area: add-secret-header;
    grid-template-columns: 1fr min-content;

    label {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  footer {
    display: grid;
    grid-area: add-secret-footer;
    grid-auto-flow: column;
    justify-content: space-between;
  }

  .View {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr auto;
    row-gap: 1rem;


    .actions {
      align-items: center;
      align-self: stretch;
      column-gap: 1rem;
      display: grid;
      grid-auto-flow: column;
      padding-top: 1.4rem;
    }
  }

  .Edit {
    display: grid;
    row-gap: 1rem;
  }

  .btn-cancel,
  .btn-edit,
  .btn-remove,
  .btn-submit {
    font-weight: bold;
    padding: 0.75rem;
  }

  .input-name,
  .input-secret {
    span.label {
      display: inline-block;
      font-size: small;
      margin-bottom: 0.25rem;
      width: 100%;
    }
    span.value {
      border: 0.07rem solid transparent;
      display: inline-block;
      line-height: 1.2;
      padding: 1rem;
      width: 100%;
    }
  }

  .btn-starred {
    justify-self: left;
    padding: 0.5rem 0.75rem 0.5rem 0.5rem;

    .Icon {
      margin-right: 0.25rem;
    }
  }

  .btn-remove:hover {
    color: var(--color-4)
  }
}
