.Notification {
  animation: slideInDown 0.3s ease-out;
  position: fixed;
  top: 1rem;
  z-index: 300;
  width: 100vw;
  padding: 0 1rem;
  
  .content {
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-areas: "message action";
    margin: auto;
    width: 100%;
    max-width: calc(var(--root-width) - 2rem);
    padding: 1rem;
    background-color: var(--bg-2);
    border: var(--border-width) solid transparent;
    border-left-width: calc(var(--border-width) * 3);
    border-radius: var(--border-radius); 
    color: var(--color-0);
    column-gap: 1rem;
  }

  &.error .content {
    border-color: color-mix(in srgb, transparent, var(--color-4) 30%);
    border-left-color: var(--color-4);
  }

  &.info .content {
    border-color: color-mix(in srgb, transparent, var(--color-6) 30%);
    border-left-color: var(--color-6);
  }

  &.success .content {
    border-color: color-mix(in srgb, transparent, var(--color-5) 30%);
    border-left-color: var(--color-5);
  }

  p {
    margin: 0;
    grid-area: message;
  }

  button {
    justify-self: end;
    grid-area: action;
  }
}

@keyframes slideInDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}