.InputPin {
  border-radius: var(--border-radius);
  column-gap: 1rem;
  display: grid;
  grid-template-areas: "a a a a" "b b b b" "c c c c";
  max-width: 14rem;

  label {
    font-size: small;
    grid-area: a;
    margin-bottom: 0.25rem;
  }

  .message {
    color: var(--color-4);
    font-size: medium;
    grid-area: c;
    margin-top: 0.5rem;
  }

  .Input {
    .inputBox {
      padding: 0.5rem;
    }

    input {
      appearance: textfield;
      text-align: center;
    }
  }
}