.Header {
  align-items: center;
  display: grid;
  grid-area: header;
  grid-auto-flow: column;
  grid-template-columns: 1fr min-content;
  margin: 0 1rem;

  h1 {
    font-size: 1.5rem;
  }
}

.Menu {
  background-color: var(--bg-1);
  display: grid;
  grid-area: menu;
  margin: 0 1rem;
  padding-top: 1rem;
  position: sticky;
  top: 0;
  z-index: 200;

  .actions {
    display: grid;
    grid-auto-flow: column;
    justify-content: flex-end;
    margin: 1rem 0;
  }
}

.Main {
  grid-area: main;
  margin: 0 1rem;
}

.Footer {
  grid-area: footer;
  padding: 1rem;
  text-align: right;

  .version {
    color: var(--color-2);
    font-size: x-small;
    padding: 0.25rem;
  }
}

#root {
  display: grid;
  grid-template-areas:
    "header"
    "menu"
    "main"
    "footer";
  grid-template-rows:
    min-content
    min-content
    1fr
    min-content;
  min-height: 100vh;
}

@media (min-width: 600px) {
  #root {
    margin: 0 auto;
    width: 600px;
  }

  .Menu {
    margin-top: 0;
  }
}
